body{
    background-color: rgb(145, 210, 177);
}

.container{
    border-radius: 10px;
    box-shadow: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    background-color: beige;
    /* margin-top: -3rem!important ;
    padding:.8em;
    width: auto;
    height: fit-content;
    max-width: none !important; */
    /* margin-top: 200px;
    margin-left: 200px; */
    margin: 200px;
}

/* #text {
    /* font-size: 100px;
    /* align-items: center; */
    /* color: rgb(5, 5, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   */
label{
    font-size: 100px;
    /* align-items: center; */
    color: rgb(5, 5, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    justify-content: space-around

}

#countdown{
    text-align:center;
    /* text-size-adjust: 20px; */
    font-size: 60px;
    font-style: italic;
    /* margin-top: 200px;
    margin-left: 200px; */
    padding: 200px;
    margin: 200px;
    color:hotpink;
    background-color: rgb(146, 207, 222);
    border-radius: 20px;
    
}